.body-container {
    margin: auto;
    min-height: 350px; 
    width: 90vw;
    border: 1px solid red;
    border-radius: 15px;
    background: linear-gradient(70deg, rgb(1, 1, 104), rgb(36, 36, 36));
    padding: 15px; 
}
