.contact-form-inner {
  width: 700px; 
  height: 500px;/* Adjust width as needed */
  border: 1px solid #898888; /* Border around the form content */
  padding: 2rem; /* Adjust padding if needed */
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom:20px ;
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc; /* Removed redundant border for inputs */
  border-radius: 4px;
  width: 80%;
  background-color: #e0e0e0; /* Set background color for inputs and textarea */
}

.Contact-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 80px;
}

.contact-image{
  width: 700px;
  height: 500px;
}