.contact-form-inner {
  width: 60%; /* Adjust width as needed */
  margin: 10px auto; /* Center the form within the container */
  border: 1px solid #898888; /* Border around the form content */
  padding: 2rem; /* Adjust padding if needed */
  border-radius: 20px;
  background-color: #f6f6ff;  }

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input{}
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc; /* Removed redundant border for inputs */
  border-radius: 4px;
  width: 100%;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}