.first-container {
    height: 100px;
    width: 97.33%;
    background: transparent;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.logo-text {
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 25px;
}

.buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    transition: background-color 0.4s, color 0.4s, border-radius 0.4s;
}

.buttons:hover {
    color: blue;
}

@media (max-width: 768px) {
    /* Ajouter des règles CSS spécifiques pour les tailles d'écran jusqu'à 768px de largeur */
    .first-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-bottom: 20px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin-right: 10px;
    }
}
