/* Footer.css */
.footer {
  height: 125px;
  width: 97.33%;
  background: linear-gradient(70deg, rgb(1, 1, 104), rgb(36, 36, 36));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
  opacity: 0; 
  transition: opacity 0.5s; 
}

.footer.visible {
  opacity: 1; /* Change l'opacité à 1 lorsque la classe 'visible' est ajoutée */
}

.social-icons a {
  margin-right: 40px;
}

.social-icons img {
  height: 90px;
  width: 90px;
}
