.second-screen {
    display: flex;
    justify-content: space-around; 
    background: transparent;
    padding: 10px;
    height: auto;
    align-items: center;
}

.loading-screen {
    margin: 15px; 
}

.content {
    flex: 0.5;
    margin: 10px; 
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.about-us {
    line-height: 1.6;
    margin-top: 2px;
    font-size: 1.2rem;
    text-align: justify;
}

.about-us p {
    margin-bottom: 15px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 80px;
}

.btn-hero img {
    width: 30px;
    margin-right: 10px;
}

.text-button {
    text-align: left;
}

.small {
    font-size: 0.8rem;
}

.store {
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .second-screen {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .content {
        padding: 20px;
        align-items: center;
    }

    .btn-group {
        flex-direction: column;
    }

    .btn-hero {
        width: 250px;
        height: 60px;
        font-size: 0.9rem;
    }
}





















/*.first-screen {
    position: relative;
    height: 600px; 
}

.loading-screen {
    position: absolute;
    top: 0;
    right: 150px; 
}

.screen-image {
    height: 600px;
    width: 298px;
}


.AboutUs{
    width: 650px;
    height: 250px;
    font-size: 2rem;
    margin-left: 15vw;
    margin-bottom: 30px;
}

.title {
    font-size: 6rem; 
    color: #333;
    margin-top: 20px; 
    margin-left: 20%;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
*/